.container {
  margin-top: 0;
  padding: 16px;
  direction: rtl;
  
}

.folderGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 28px;
  
}

.folderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid var(#ccc);
  border-radius: var(8px);
  text-align: center;
  background-color: var(#f9f9f9);
  transition: transform var(0.3s), box-shadow var(0.3s);
  text-decoration: none;
  color: inherit;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 15px;
  margin-left: 16px;
  margin-right: 16px;
}

.folderItem:hover {
  transform: translateY(-10px);
  box-shadow: var(0 4px 8px rgba(0, 0, 0, 0.2));
}

.folderLink {
  text-decoration: none;
  color: inherit;
}

.folderImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folderImage img {
  border-radius: var(8px);
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
}

.folderTitle {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  direction: rtl;
}

.folderDescription {
  direction: rtl;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(#0070f3);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.backButton {
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.backButton::before {
  content: '→';
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1rem;
  text-decoration-color: black;
}

.backButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.backButton:hover {
  transform: translateY(-2px);
}

.backButton:active {
  background-color: #003f7f;
  transform: translateY(0);
}

.backButton:active {
  background-color: var(#003f7f);
  transform: translateY(0);
}

.popupImage {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton:hover + .popupImage {
  display: block;
}

.headerTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}